.DS_Store
Project 1/
Project 2/
*.png
*.html
*.numbers
Final Project/table1_summary_statistics.csv
Final Project/table2_relief_by_income_quartile.csv
Final Project/TOS_NLP_Scores_2010_2018.csv
Final Project/Historical_TOS_Corpus_2010_2018.csv
__pycache__/
.venv/
*.pyc
Final Project/ACSDP5Y2014.DP03-Data.csv
Final Project/consumer_complaints.csv
Final Project/df.csv
Final Project/ACSDP5Y2014.DP05-Data.csv
Final Project/ACSST5Y2014.S1501-Data.csv
